<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xtel.ivipuser">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".view.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="xtel_service_code"
            android:value="@string/xtel_service_code" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/account_kit_client_token" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".view.activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/home_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.RegisterPhone"
            android:label="@string/activity_reg"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.LoginGroupActivity"
            android:label="@string/activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.ResetActivity"
            android:label="@string/activity_reset"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.ReactiveAccountActivity"
            android:label="@string/activity_reactive"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.ProfileActivity"
            android:label="@string/activity_profile"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.ActivityInfoContent"
            android:label="@string/activity_info_content"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.MyShopActivity"
            android:label="@string/activity_myshop_content"
            android:theme="@style/AppTheme" />

        <!--<service android:name="com.xtel.sdk.fcm.MyFirebaseMessagingService">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--</intent-filter>-->
        <!--</service>-->
        <!--<service android:name="com.xtel.sdk.fcm.MyFirebaseinstanceIDService">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_action_notify" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/btn_facebook" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5765ba05cf4f36a9301d3a8eb9fe7c9e53ecb745" />
    </application>

</manifest>